<h1>
  <%= @board.title %>
</h1>

<%= form_for @new_filed, :url => posts_create_path do |new_filed| %>

  <%= new_filed.file_field :image %>
  <%= new_filed.text_field :comment %>
  <%= new_filed.hidden_field :board_id %>
  <%= new_filed.submit "投稿！！" %>

<% end %>


<% @filed.reverse.each do |d| %>
 <hr>
 <p>
  <% if d.image? %>
    <%= image_tag d.image.url %>
  <% end %>
 </p>
 <p>
    <%= d.comment %>
 </p>
 <% end %>

 <hr>

<%= button_to "homeに戻る", {controller: 'boards', action:'index'}, {method: :get} %>
