<!DOCTYPE html>
<html>
  <head>
      <title>作成フォーム</title>
  </head>
  <body>
    <center>
      <h1>場所を記入してほしい</h1>
      <%= form_for @spot,:url => {:action => :create} do |f| %>
      <p>
        <%= f.label :visit, "場所" %>
        <%= f.text_field :visit %>
      </p>

      <p>
        <%= f.label :comment, "コメント" %>
        <%= f.text_area :comment %>
      </p>

      <p>
        <%= f.submit "作成する" %>
      </p>
      <% end %>
    </center>
  </doby>
</html>
