<center>
<h1>場所を記入してほしい</h1>
<%= form_for Spot.new,:url => {:action => :create} do |f| %>
  <p>
    <%= f.label :visit, "場所" %>
    <%= f.text_field :visit %>
  </p>

  <p>
    <%= f.label :comment, "コメント" %>
    <%= f.text_area :comment %>
  <p>

  <p>
    <%= f.submit "作成する" %>
  </p>
<% end %>
</center>
